body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  text-align: center;
}

.time {
  font-size: 3rem;
  margin-bottom: 20px;
}

.date, .timezone {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
